.dashboard {
  #send-payment-form {
    .form-control {
      @media(min-width: $tablet-width) {
        max-width: 500px;
      }
    }
  }

  .currency-symbol-input-group {
    position: relative;

    > input {
      padding-left: 20px;
    }

    > i {
      position: absolute;
      display: block;
      transform: translate(0, -50%);
      top: 50%;
      pointer-events: none;
      width: 25px;
      text-align: center;
      font-style: normal;
    }
  }

  .currency-input-group {
    svg, span {
      margin: 0 5px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  #preference-label {
    display: flex;
    justify-content: space-between;
  }

  .step-btns {
    margin-right: 0.5rem;
  }
}

.card {
  border: none;

  div.card-body {
    padding: 5px;
  }

  .card-img-top {
    max-width: 50px;
    max-height: 50px;
    align-self: center;
  }

  div.card-title {
    text-align: center;

    .badge {
      margin-left: 5px;
    }
  }

  div.list-group-item {
    padding: 10px 10px;
  }

}
