#db-sidebar {
  background-color: rgba(255, 255, 255, .9);
}

#sidebar-wrapper {
  max-width: 150px;
}

#sidebar-wrapper {
  > a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }

  .sidebar-heading {
    padding: 0.875rem;
    font-size: 1.2rem;
    background-color: #fff;
    text-align: center;
    
    img {
      max-width: 3rem;
    }
  }
}
