#db-sidebar {
  background-color: #fff;
}

#sidebar-wrapper {
  max-width: 180px;

  > a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }

  .sidebar-heading {
    padding: 0.875rem;
    font-size: 1.2rem;
    background-color: #fff;
    text-align: center;
    max-height: 56px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .nest-list-group-parent > .list-group-item {
    padding-left: 1.75rem;
  }
}
