@media(min-width: 700px) {
  .login {
    max-width: 480px;
  }
}

.login {
  /* Align the login to center horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  padding: 40px 40px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 1%;
  text-align: center;
}

.login .logo-container {
  text-align: center;
  margin-bottom: 1rem;
}

.login .logo-container img {
  width: 75%;
}

.login input{
  margin-bottom: 0.5rem;
}

.login .header-container {
  margin-bottom: 1rem;
}

.login .header-container h5 {
  font-weight: bold;
}

.login form {
  margin-bottom: 1.5rem;
}
